<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "desktop">
   <test name = "URLB2C">
    <classes>
        <class name= "Ingectic.URLB2C"/>
			
      </classes>  
   </test>
         <test name = "Repairshop">
   <classes>
       			
			<class name= "Ingectic.Repairshop"/>
       
        </classes>
   </test>
     <test name = "Deals">
   <classes>
       		<class name= "Ingectic.Deals"/>
			      
        </classes>
   </test>  
   <test name = "loginb2c">
   <classes>
       <class name= "Ingectic.loginb2c"/>
			       
        </classes>
   </test>
    <test name = "Addvehicle">
   <classes>
      			<class name= "Ingectic.Addvehicle"/>
	 
       </classes>
   </test>
   <test name = "search">
   <classes>
       			<class name= "Ingectic.search"/>
	</classes>
   </test>
 
   <test name = "Addtocart">
   <classes>
       			
			<class name= "Ingectic.Addtocart"/>
			</classes>
   </test>

   <test name = "Rewardsbox">
   <classes>
       			
			<class name= "Ingectic.Rewardsbox"/>
       
        </classes>
   </test>
   <test name = "Topnavmouseover">
   <classes>
       			
			<class name= "Ingectic.Topnavmouseover"/>
       
        </classes>
   </test>
    <test name = "Productdetails">
   <classes>
       			
			<class name= "Ingectic.Productdetails"/>
       
        </classes>
   </test>
</suite>  	