<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Mobile">
   <test name = "URLB2Cmobile">
    <classes>
        <class name= "mobileb2c.URLB2Cmobile"/>
			
      </classes>
       
   </test>
   <test name = "loginmobile">
   <classes>
       <class name= "mobileb2c.loginmobile"/>
			       
        </classes>
   </test>
    <test name = "Addvehiclemobile">
   <classes>
      			<class name= "mobileb2c.Addvehiclemobile"/>
	 
       </classes>
   </test>
   <test name = "searchmobile">
   <classes>
       			<class name= "mobileb2c.searchmobile"/>
	</classes>
   </test>
   <test name = "Addtocartmobile">
   <classes>
       		<class name= "mobileb2c.Addtocartmobile"/>
			      
        </classes>
   </test>
   <test name = "Couponcodemobile">
   <classes>
       			
			<class name= "mobileb2c.Couponcodemobile"/>
			</classes>
   </test>
   <test name = "Removemobile">
   <classes>
       			
			<class name= "mobileb2c.Removemobile"/>
       
        </classes>
   </test>
   <test name = "Orderhistorymobile">
   <classes>
       			
			<class name= "mobileb2c.Orderhistorymobile"/>
       
        </classes>
   </test>
   <test name = "Productdetailsmobile">
   <classes>
       			
			<class name= "mobileb2c.Productdetailsmobile"/>
       
        </classes>
   </test>
    <test name = "DealsMobile">
   <classes>
       			
			<class name= "mobileb2c.DealsMobile"/>
       
        </classes>
   </test>
</suite>  	